@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.material-symbols-outlined {
    text-decoration: none;
}
